<form action="/student/findStud/" method="POST" id="sign-up-form" class="form-signin">
   <div class="container">

  <h2> Hey, please enter student's Unique number... </h2>

 <!-- <div class="control-group">-->
  
  

   	 <div class="editcontainer">
	<input type="text" class="form-control" placeholder="Admin number" name="adminno" id="adminno">
	 <div class="btecont">
	<input type="submit" class="btn btn-success"" value="Submit"/>
	</div>
	</div>
	</div>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

